body{
    font-family: 'Lato', sans-serif;
}
/*header part*/
.header{
    background-color: rgba(229, 84, 115, 0.10);
    ;
    display: flex;
    justify-content: center;
    gap: 97px;
    width: 1920px;
    height: 850px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
}
.header-content{
    padding-top: 100px;
    width: 708px;
}
.header-heading{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}
.header-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}
.primary-btn{
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}
.header-img{
    padding-top: 50px;
    width: 635px;
    height: 800px;
}
/*middle part*/
.middle-head{
    padding-top: 178px;
    text-align: center;
}
.middle-heading{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.middle-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding-left: 450px;
    padding-right: 450px;
}
.middle-flowers{
    display: flex;
    gap: 24px;
    text-align: center;
    padding-left: 200px;
    padding-right: 240px;
}
.pink-flower-1{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.flower-1{
    padding-top: 110px;
    padding-left: 76px;
    padding-right: 78px;
    width: 310px;
    height: 428px;
}
.flower-1-description{
    padding-top: 30px;
    text-decoration:underline;
}
.pink-flower-2{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.flower-2{
    padding: 117px 47px 51px 47px;
    width: 370px;
    height: 370px;
}
.flower-2-description{
    padding-top: 30px;
    text-decoration:underline;
}
.flower-3{
    padding-top: 67px;
    padding-left: 75px;
    padding-right: 75px;
    width: 314px;
    height: 471px;
}
.pink-flower-3{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.flower-3-description{
    padding-top: 32px;
    text-decoration:underline;
}
.middle-bar{
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 128px;
    display: flex;
    justify-content: center;
    width: 1150px;
    height: 320px;
    padding: 300px 100px 87px 100px;
    gap: 100px;
}
#bar-1 img, #bar-2 img{
    text-align: center;
    width: 88px;
    height: 88px;
    padding-left: 117px;
}
#bar-1 p, #bar-2 p, #bar-3 p{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}
#bar-3 img{
    text-align: center;
    width: 88px;
    height: 88px;
    padding-left: 50px;
}
.main-bar{
    margin-top:128px ;
    width: 1922px;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    gap: 215px;
    padding-left: 200px;
    padding-right: 200px;
}
#main-heading{
    padding-top: 230px;
    padding-left: 423px;
    color: #272727;
    font-weight: 800;
}
#main-description{
    color: rgba(39, 39, 39, 0.60);
    display: flex;
    width: 594px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding-left: 295px;
}
#bar-button{
    margin-left: 500px;
}
.main-bar-image{
    padding-right: 429px;
    padding-top: 100px;
    width: 318px;
    height: 420px;
}
.insta-head{
    padding-top: 128px;
    margin-left: 100px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.insta-description{
    display: flex;
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding-left: 500px;
    padding-right: 500px;
}
.insta-pic{
    display: flex;
    gap: 24px;
    width: 342px;
    height: 396px;
    padding-left: 240px;
}
.deals{
    width: 1440px;
    height: 449px;
    border-radius: 8px;
    background-image:url('../Flower Asset/Rectangle\ 9.png');
    margin-top: 128px;
    margin-left: 240px;
    margin-right: 240px;
}
.deals-heading{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 122px;
}
.deals-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.deals-mail{
    border-radius: 8px;
    background: #FFF;
    width: 700px;
    height: 64px;
    margin-left: 287px;
    border: none;
    color: rgba(39, 39, 39, 0.60);
    padding-left: 22px;
    font-size: 16px;
    font-weight: 400;
}
#button{
    margin-left: 16px;
}
footer{
    width:max-content;
    height: 449px;
    background: #111010;
    width: 1922px;
    height: 449px;
    padding-left: 200px;
    padding-right: 200px;
}
.footer-heading{
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    padding-top: 128px;
}
.footer-description{
    display: flex;
    width: 625px;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding-left: 648px;
}
.footer-foot{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
#footer-heading-extra{
    color: #FFF;
}